/*-----------------------------------*\
  #style.css
\*-----------------------------------*/

/**
 * copyright 2023 codewithsadee
 */

/*-----------------------------------*\
  #CUSTOM PROPERTY
\*-----------------------------------*/

:root {
  --background: hsla(220, 17%, 7%, 1);
  --banner-background: hsla(250, 6%, 20%, 1);
  --white-alpha-20: hsla(0, 0%, 100%, 0.2);
  --on-background: hsla(220, 100%, 95%, 1);
  --on-surface: hsla(250, 100%, 95%, 1);
  --on-surface-variant: hsla(250, 1%, 44%, 1);
  --primary: hsla(349, 100%, 43%, 1);
  --primary-variant: hsla(349, 69%, 51%, 1);
  --rating-color: hsla(44, 100%, 49%, 1);
  --surface: hsla(250, 13%, 11%, 1);
  --text-color: hsla(250, 2%, 59%, 1);
  --white: hsla(0, 0%, 100%, 1);

  /* gradient colors  */
  --banner-overlay: 90deg, hsl(220, 17%, 7%) 0%, hsla(220, 17%, 7%, 0.5) 100%;
  --bottom-overlay: 180deg, hsla(250, 13%, 11%, 0), hsla(250, 13%, 11%, 1);

  /* TYPOGRAPHY */

  /* font-family */
  --ff-dm-sans: "DM Sans", sans-serif;

  /* font-size */
  --fs-heading: 4rem;
  --fs-title-lg: 2.6rem;
  --fs-title: 2rem;
  --fs-body: 1.8rem;
  --fs-button: 1.5rem;
  --fs-label: 1.4rem;

  /* font weight  */
  --weight-bold: 700;

  /* shadow  */
  --shadow-1: 0 1px 4px hsla(0, 0%, 0%, 0.75);
  --shadow-2: 0 2px 4px hsla(350, 100%, 43%, 0.3);

  /* border radius  */
  --radius-4: 4px;
  --radius-8: 8px;
  --radius-16: 16px;
  --radius-24: 24px;
  --radius-36: 36px;

  /* transitions  */
  --transition-short: 250ms ease;
  --transition-long: 500ms ease;
}

/*-----------------------------------*\
  #RESET
\*-----------------------------------*/

*,
*::before,
&::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a,
img,
span,
iframe,
button {
  display: block;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  height: auto;
}

input,
button {
  background: none;
  border: none;
  font: inherit;
  color: inherit;
}

input {
  width: 100%;
}

button {
  text-align: left;
  cursor: pointer;
}

html {
  font-family: var(--ff-dm-sans);
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  background-color: var(--background);
  color: var(--on-background);
  font-size: var(--fs-body);
  line-height: 1.5;
  overflow-x: hidden;
}

:focus-visible {
  outline-color: var(--primary-variant);
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--banner-background);
  border-radius: var(--radius-8);
}

/*-----------------------------------*\
  #REUSED STYLE
\*-----------------------------------*/

.searchWrapper::before,
.loadMore::before {
  content: "";
  width: 20px;
  height: 20px;
  border: 3px solid var(--white);
  border-radius: var(--radius-24);
  border-inline-end-color: transparent;
  animation: loading 500ms linear infinite;
  display: none;
}

.searchWrapper::before {
  position: absolute;
  top: 14px;
  right: 12px;
}

.searchWrapper.searching::before {
  display: block;
}

.loadMore {
  background-color: var(--primary-variant);
  margin-inline: auto;
  margin-block: 36px 60px;
}

.loadMore:is(:hover, :focus-visible) {
  --primary-variant: hsla(350, 67%, 39%, 1);
}

.loadMore.loading::before {
  display: block;
}

@keyframes loading {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(1turn);
  }
}

@keyframes loading {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(1turn);
  }
}

.title,
.heading,
.titleLarge {
  font-weight: var(--weight-bold);
  letter-spacing: 0.5px;
}

.title {
  font-size: var(--fs-title);
}

.heading {
  color: var(--white);
  font-size: var(--fs-heading);
  line-height: 1.2;
}

.titleLarge {
  font-size: var(--fs-title-lg);
}

.imgCover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.metaList {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 12px;
}

.metaItem {
  display: flex;
  align-items: center;
  gap: 4px;
}

.btn {
  color: var(--white);
  font-size: var(--fs-button);
  font-weight: var(--weight-bold);
  max-width: max-content;
  display: flex;
  align-items: center;
  gap: 12px;
  padding-block: 12px;
  padding-inline: 20px 24px;
  border-radius: var(--radius-8);
  transition: var(--transition-short);
}

.cardBadge {
  background-color: var(--banner-background);
  color: var(--white);
  font-size: var(--fs-label);
  font-weight: var(--weight-bold);
  padding-inline: 6px;
  border-radius: var(--radius-4);
}

.posterBox {
  background-image: url(../images/poster-bg-icon.png);
  aspect-ratio: 2 / 3;
}

.posterBox,
.videoCard {
  background-repeat: no-repeat;
  background-size: 50px;
  background-position: center;
  background-color: var(--banner-background);
  border-radius: var(--radius-16);
  overflow: hidden;
}

.titleWrapper {
  margin-block-end: 24px;
}

.sliderList {
  margin-inline: -20px;
  overflow-x: overlay;
  padding-block-end: 16px;
  margin-block-end: -16px;
}

.sliderList::-webkit-scrollbar-thumb {
  background-color: transparent;
}

.sliderList:is(:hover, :focus-within)::-webkit-scrollbar-thumb {
  background-color: var(--banner-background);
}

.sliderList::-webkit-scrollbar-button {
  width: 20px;
}

.sliderInner {
  display: flex;
  gap: 16px;
  position: relative;
}

.sliderList .sliderInner::before,
.sliderList .sliderInner::after {
  content: "";
  min-width: 4px;
}

.separator {
  width: 4px;
  height: 4px;
  background-color: var(--white-alpha-20);
  border-radius: var(--radius-8);
}

.videoCard {
  background-image: url(../images/video-bg-icon.png);
  aspect-ratio: 16 / 9;
  flex-shrink: 0;
  max-width: 500px;
  width: calc(100% - 40px);
}

.container::after,
.searchModal::after {
  content: "";
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 150px;
  background-image: linear-gradient(var(--bottom-overlay));
  z-index: 1;
  pointer-events: none;
}

/*-----------------------------------*\
  #HEADER
\*-----------------------------------*/

.searchBox {
  display: none;
}

.header {
  position: relative;
  padding-block: 24px;
  padding-inline: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}

.header .logo {
  margin-inline-end: auto;
}

.searchBtn,
.menuBtn {
  padding: 12px;
}

.searchBtn {
  background-color: var(--banner-background);
  border-radius: var(--radius-8);
}

.searchBtn img {
  opacity: 0.5;
  transition: var(--transition-short);
}

.searchBtn:is(:hover, :focus-visible) img {
  opacity: 1;
}

.menuBtn.active .menu,
.menuBtn .close {
  display: none;
}
.menuBtn .menu,
.menuBtn.active .close {
  display: block;
}

.searchBox {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--background);
  padding: 24px 16px;
  align-items: center;
  gap: 8px;
  z-index: 1;
  display: none;
}

.searchBox.active {
  display: flex;
}

.searchWrapper {
  position: relative;
  flex-grow: 1;
}

.searchField {
  background-color: var(--banner-background);
  height: 48px;
  line-height: 48px;
  padding-inline: 44px 16px;
  outline: none;
  border-radius: var(--radius-8);
  transition: var(--transition-short);
}

.searchField::placeholder {
  color: var(--on-surface-variant);
}

.searchField:hover {
  box-shadow: 0 0 0 2px var(--on-surface-variant);
}

.searchField:focus {
  box-shadow: 0 0 0 2px var(--on-surface);
  padding-inline-start: 16px;
}

.searchWrapper .leadingIcon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 12px;
  opacity: 0.5;
  transition: var(--transition-short);
}

.searchWrapper:focus-within .leadingIcon {
  opacity: 0;
}

/*-----------------------------------*\
  #SIDEBAR
\*-----------------------------------*/

.sidebar {
  position: absolute;
  background-color: var(--background);
  top: 96px;
  bottom: 0;
  left: -340px;
  max-width: 340px;
  width: 100%;
  border-block-start: 1px solid var(--banner-background);
  overflow-y: overlay;
  z-index: 10;
  visibility: hidden;
  transition: var(--transition-long);
}

.sidebar.active {
  transform: translateX(340px);
  visibility: visible;
}

.sidebarInner {
  display: grid;
  gap: 20px;
  padding-block: 36px;
}

.sidebar::-webkit-scrollbar-thumb {
  /* background-color: transparent; */
}

.sidebar:is(:hover, :focus-within)::-webkit-scrollbar-thumb {
  background-color: var(--banner-background);
}

.sidebar::-webkit-scrollbar-button {
  height: 16px;
}

.sidebarList,
.sidebarFooter {
  padding-inline: 36px;
}

.sidebarLink {
  color: var(--on-surface-variant);
  transition: var(--transition-short);
}

.sidebarLink:is(:hover, :focus-visible) {
  color: var(--on-background);
}

.sidebarList {
  display: grid;
  gap: 8px;
}

.sidebarList .title {
  margin-block-end: 8px;
}

.sidebarFooter {
  border-block-start: 1px solid var(--banner-background);
  padding-block-start: 28px;
  margin-block-start: 16px;
}

.copyright {
  color: var(--on-surface-variant);
  margin-block-end: 20px;
}

.copyright a {
  display: inline-block;
}

.overlay {
  position: fixed;
  top: 96px;
  left: 0;
  bottom: 0;
  width: 100%;
  background: var(--background);
  opacity: 0;
  display: none;
  pointer-events: none;
  transition: var(--transition-short);
  z-index: 3;
}

.overlay.active {
  opacity: 0.5;
  pointer-events: all;
}

/*-----------------------------------*\
  #HOME PAGE
\*-----------------------------------*/

.container {
  position: relative;
  background-color: var(--surface);
  color: var(--on-surface);
  padding: 24px 20px 48px;
  height: calc(100vh - 96px);
  overflow-y: overlay;
  z-index: 1;
}

/* Banner  */

.banner {
  position: relative;
  height: 700px;
  border-radius: var(--radius-24);
  overflow: hidden;
}

.bannerSlider .sliderItem {
  position: absolute;
  top: 0;
  left: 20%;
  width: 100%;
  height: 100%;
  background-color: var(--banner-background);
  opacity: 0;
  visibility: hidden;
  transition: opaciry var(--transition-long);
}

.bannerSlider .sliderItem::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: linear-gradient(var(--banner-overlay));
}

.bannerSlider .active {
  left: 0;
  opacity: 1;
  visibility: visible;
}

.bannerContent {
  position: absolute;
  left: 24px;
  right: 24px;
  bottom: 206px;
  z-index: 1;
  color: var(--text-color);
}

.banner :is(.heading, .bannerText) {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.banner .heading {
  -webkit-line-clamp: 3;
  margin-block-end: 16px;
}

.banner .genre {
  margin-block: 12px;
}
.bannerText {
  -webkit-line-clamp: 2;
  margin-block-end: 24px;
}

.banner .btn {
  background-color: var(--primary);
}

.banner .btn:is(:hover, :focus-visible) {
  box-shadow: var(--shadow-2);
}

.sliderControl {
  position: absolute;
  bottom: 20px;
  left: 20px;
  right: 0;
  border-radius: var(--radius-16) 0 0 var(--radius-16);
  user-select: none;
  padding: 4px 0 4px 4px;
  overflow-x: auto;
}

.sliderControl::-webkit-scrollbar {
  display: none;
}

.controlInner {
  display: flex;
  gap: 12px;
}

.controlInner::after {
  content: "";
  min-width: 12px;
}

.sliderControl .sliderItem {
  width: 100px;
  border-radius: var(--radius-8);
  flex-shrink: 0;
  filter: brightness(0.4);
}

.sliderControl .active {
  filter: brightness(1);
  box-shadow: var(--shadow-1);
}

/* MOvie LIst  */

.movieList {
  padding-block-start: 32px;
}

.movieCard {
  position: relative;
  min-width: 200px;
}

.movieCard .cardBanner {
  width: 200px;
}

.movieCard .title {
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-block: 8px 4px;
}

.movieCard .metaList {
  justify-content: space-between;
}

.movieCard .cardBtn {
  position: absolute;
  inset: 0;
}

/*-----------------------------------*\
  #DETAIL PAGE
\*-----------------------------------*/

.backdropImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 600px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: -1;
}

.backdropImage::after {
  content: "";
  position: absolute;
  inset: 0;
  background-image: linear-gradient(
    0deg,
    hsla(250, 13%, 11%, 1),
    hsla(250, 13%, 11%, 0.9)
  );
}

.movieDetail .moviePoster {
  max-width: 300px;
  width: 100%;
}

.movieDetail .heading {
  margin-block: 24px 12px;
}

.movieDetail :is(.metaList, .genre) {
  color: var(--text-color);
}

.movieDetail .genre {
  margin-block: 12px 16px;
}

.detailList {
  margin-block: 24px;
}

.movieDetail .listItem {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-block-end: 12px;
}

.movieDetail .listName {
  color: var(--text-color);
  min-width: 112px;
}

/*-----------------------------------*\
  #MOVIE LIST PAGE
\*-----------------------------------*/

.genreList .titleWrapper {
  margin-block-end: 56px;
}

.gridList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  column-gap: 16px;
  row-gap: 20px;
}

:is(.genreList, .searchModal) :is(.movieCard, .cardBanner) {
  width: 100%;
}

/*-----------------------------------*\
  #SEARCH MODAL
\*-----------------------------------*/

.searchModal {
  position: fixed;
  top: 96px;
  left: 0;
  width: 100%;
  bottom: 0;
  background-color: var(--surface);
  padding: 50px 24px;
  overflow-y: overlay;
  z-index: 4;
  display: none;
}

.searchModal.active {
  display: block;
}

.searchModal .label {
  color: var(--primary-variant);
  font-weight: var(--weight-bold);
  margin-block-end: 8px;
}

/*-----------------------------------*\
  #MEDIA QUERIES
\*-----------------------------------*/

/* responsive for larger than 575px screen  */

@media (min-width: 575px) {
  /* Home page  */
  .bannerContent {
    right: auto;
    max-width: 500px;
  }

  .sliderControl {
    left: calc(100% - 600px);
  }

  /* Detail Page  */

  .detailContent {
    max-width: 750px;
  }
}

/* responsive for larger than 768px screen  */

@media (min-width: 768px) {
  /* Custom Property  */

  :root {
    /* gradient color  */
    /* --banner-overlay: 90deg, hsl(220, 17%, 7%) 0%, hsla(220, 17%, 7%, 0) 100% */

    /* font size  */
    --fs-heading: 5.4rem;
  }

  /* Home page  */
  .bannerContent {
    right: auto;
    max-width: 500px;
  }

  .container {
    padding-inline: 24px;
  }

  .sliderList {
    margin-inline: -24px;
  }

  .searchBtn {
    display: none;
  }

  .searchBox {
    all: unset;
    display: block;
    width: 360px;
  }

  .banner {
    height: 500px;
  }

  .bannerContent {
    bottom: 50%;
    transform: translateY(50%);
    left: 50px;
  }

  /* movie detail page  */

  .movieDetail {
    display: flex;
    align-items: flex-start;
    gap: 40px;
  }

  .movieDetail .searchBox {
    flex-grow: 1;
  }

  .movieDetail .moviePoster {
    flex-shrink: 0;
    position: sticky;
    top: 0;
  }

  .movieDetail .sliderList {
    margin-inline-start: 0;
    border-radius: var(--radius-16) 0 0 var(--radius-16);
  }

  .movieDetail .sliderInner::before {
    display: noen;
  }
}

/* responsive for larger than 1200px screen  */

@media (min-width: 1200px) {
  /* Home page  */

  .header {
    padding: 28px 56px;
  }
  .logo img {
    width: 160px;
  }

  .menuBtn,
  .overlay {
    display: none;
  }

  main {
    display: grid;
    grid-template-columns: 250px 1fr;
  }

  .sidebar {
    position: static;
    visibility: visible;
    border-block-start: 0;
    height: calc(100vh - 104px);
  }

  .sidebar.active {
    transform: none;
  }

  .sidebarList,
  .sidebarFooter {
    padding-inline: 56px;
  }

  .container {
    height: calc(100vh - 104px);
    border-top-left-radius: var(--radius-36);
  }

  .bannerContent {
    left: 100px;
  }
  .searchModal {
    top: 104px;
    padding: 60px;
  }

  /* movie detail page  */

  .backdropImage {
    border-top-left-radius: var(--radius-36);
  }
}
